:root{
    --cor-de-fundo: #6F4E37;
        --cor-de-fundo-escura: #583b26;
        --cor-de-fundo-clara: #583b26b4;

    --cor-secundaria: #A67B5B;

    --cor-terciaria: #ECB176;
        --cor-terciaria-clara: rgba(236, 177, 118, 0.623);
            --cor-terciaria-clara-escura: rgba(236, 177, 118, 0.767);
        --cor-terciaria-clarissima: rgba(236, 177, 118, 0.247);

    --cor-da-fonte: #FED8B1;
        --cor-da-fonte-rgb: rgb(254, 216, 177);
        --cor-da-fonte-clara: rgba(254, 216, 177, 0.712);

    --cor-border: #aa8663;



    --cor-btn-bg: #D2649A;
    --cor-btn-bg-hover:#a1386b;
    --cor-btn-border: #00000000;
    --cor-btn-fonte: #ffffff;

    --cor-btn-danger-bg:#e71717d9;
    --cor-btn-danger-hover-bg:#e717178f;
    --cor-btn-danger-fonte: #ff5704b9;
    --cor-btn-danger-border: #ff5704b9;
}

hr {
    border-color: var(--cor-secundaria);
}

.navbar-hr {
    border-bottom-width: 5px;
    margin: 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.border-custom {
    border-color: var(--cor-secundaria);
}

.cursiva{
    font-family: "Gwendolyn", cursive;
    font-weight: 400;
    font-style: normal;
}

.body-general {
    background-color: var(--cor-de-fundo);
    color: var(--cor-da-fonte);
}

#navbar-principal {
    background-color: var(--cor-de-fundo) !important;
    border-color: var(--cor-da-fonte) !important;
}

.navbar-content {
    color: var(--cor-da-fonte) !important;
    --bs-dropdown-link-active-bg: var(--cor-secundaria);
}

.navbar-dropdown {
    background-color: var(--cor-de-fundo);
    --bs-dropdown-link-hover-bg:var(--cor-secundaria);
}

#footer-principal {
    background-color: var(--cor-de-fundo) !important;
    border-color: var(--cor-da-fonte) !important;
}

.footer-logo {
    filter: invert(99%) sepia(25%) saturate(6860%) hue-rotate(296deg) brightness(117%) contrast(106%);
}

.hero-divider {
    background-color: var(--cor-secundaria);
    width: 100%;
    height: 3rem;
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15)
}

.form-label {
    color: var(--cor-de-fundo-escura);
}

.form-control {
    background-color: var(--cor-de-fundo);
    color: var(--cor-da-fonte) !important;
    border: 1px, solid, var(--cor-border);
    --bs-body-color:var(--cor-da-fonte);
    --bs-body-bg:var(--cor-de-fundo);
    --bs-secondary-color: var(--cor-da-fonte-clara);
    --bs-secondary-bg: var(--cor-de-fundo-clara)
}

.form-custom {
    background-color: var(--cor-terciaria);
    border: 1px, solid, var(--cor-border);
}


.form-field-custom {
    background-color: var(--cor-de-fundo);
    color: var(--cor-da-fonte) !important;
    border: 1px, solid, var(--cor-border);
    --bs-body-color:var(--cor-da-fonte);
    --bs-body-bg:var(--cor-de-fundo);
}

.form-label-custom {
    --bs-body-bg:var(--cor-de-fundo);
    --bs-body-color:var(--cor-da-fonte);
    --bs-body-color-rgb:var(--cor-da-fonte-rgb);
    --bs-highlight-bg:var(--cor-de-fundo);
}

.floating-item {
    min-height: 50rem;
}

.card-custom {
    background-color: var(--cor-terciaria);
    border: 1px, solid, var(--cor-border);
    color: var(--cor-de-fundo);
}
.card-custom>input {
    counter-reset: var(--cor-de-fundo);
}

.modal-custom{
    background-color: var(--cor-de-fundo);
    border: 1px, solid, var(--cor-border);
    color: var(--cor-da-fonte);
    --bs-modal-header-border-color: var(--cor-border);
    --bs-modal-footer-border-color: var(--cor-border);
}

.pedidos-header {
    background-color: var(--cor-terciaria);
    border: 1px, solid, var(--cor-border);
    color: var(--cor-de-fundo);
}

.accordion-button-custom { /*"Cabeçalho do acordeão. É o lucar onde "clica"*/
    --bs-accordion-btn-bg: var(--cor-terciaria-clara); /*Cor de FUNDO*/
    --bs-accordion-btn-color: var(--cor-de-fundo); /*Cor da FONTE*/
    --bs-accordion-active-bg: var(--cor-terciaria-clara-escura); /*Cor de FUNDO quando ele estiver "ATIVO"*/
    --bs-accordion-active-color: var(--cor-de-fundo); /*Cor da FONTE quando ele estiver "ATIVO"*/
}

.accordion-body-custom {
    color: black;
    background-color: var(--cor-terciaria-clarissima);
}

.table-primary {
    --bs-table-bg: var(--cor-terciaria);
    --bs-table-color: var(--cor-de-fundo);
    --bs-table-border-color: var(--cor-border);
}

.table-row-custom { /*Estilização específica para tabelas da classe table-striped*/
    --bs-table-striped-bg: var(--cor-terciaria-clara); /*Cor de FUNDO da linha mais escura*/
    --bs-table-color-type: var(--cor-de-fundo);/*Cor da FONTE da linha mais escura*/

    --bs-table-bg-type: var(--cor-terciaria-clarissima); /*Cor de FUNDO da linha mais clara*/
    --bs-table-striped-color: var(--cor-de-fundo);/*Cor da FONTE da linha mais clara*/
}

.btn-primary {
    background-color: var(--cor-btn-bg);
    border-color: var(--cor-btn-border);
    color: var(--cor-btn-fonte);
    --bs-btn-hover-color: var(--cor-btn-fonte);
    --bs-btn-hover-bg: var(--cor-btn-bg-hover);
    --bs-btn-hover-border-color: var(--cor-btn-border);

}

.btn-success {
    
    --bs-btn-bg: var(--cor-btn-bg); /*Cor de fundo normal*/
    --bs-btn-hover-bg: var(--cor-btn-bg-hover);/*Cor de fundo com mouse em cima*/
    --bs-btn-active-bg: var(--cor-btn-bg-hover);/*Cor de fundo com o mouse clicado*/

    --bs-btn-color: var(--cor-btn-fonte); /*Cor da fonte normal*/
    --bs-btn-hover-color: var(--cor-btn-fonte); /*Cor da fonte com mouse em cima*/
    --bs-btn-active-color: var(--cor-btn-fonte); /*Cor da fonte com moue clicando*/

    --bs-btn-border-color: var(--cor-btn-border); /*Cor da borda normal*/
    --bs-btn-hover-border-color:  var(--cor-btn-border); /*Cor da borda com mouse em cima*/
    --bs-btn-active-border-color:  var(--cor-btn-border); /*Cor da borda com mouse clicando*/
    
}

.btn-danger {
    --bs-btn-bg: var(--cor-btn-danger-bg); /*Cor de fundo normal*/
    --bs-btn-hover-bg: var(--cor-btn-danger-hover-bg);/*Cor de fundo com mouse em cima*/
    --bs-btn-active-bg: var(--cor-btn-danger-hover-bg);/*Cor de fundo com o mouse clicado*/

    --bs-btn-color: var(--cor-btn-fonte); /*Cor da fonte normal*/
    --bs-btn-hover-color: var(--cor-btn-fonte); /*Cor da fonte com mouse em cima*/
    --bs-btn-active-color: var(--cor-btn-fonte); /*Cor da fonte com moue clicando*/

    --bs-btn-border-color: #ffffff00; /*Cor da borda normal*/
    --bs-btn-hover-border-color: #ffffff00; /*Cor da borda com mouse em cima*/
    --bs-btn-active-border-color: #ffffff00; /*Cor da borda com mouse clicando*/
}

.btn-secondary{
    --bs-btn-bg: ; /*Cor de fundo normal*/
    --bs-btn-hover-bg: ;/*Cor de fundo com mouse em cima*/
    --bs-btn-active-bg: ;/*Cor de fundo com o mouse clicado*/

    --bs-btn-color: ; /*Cor da fonte normal*/
    --bs-btn-hover-color: ; /*Cor da fonte com mouse em cima*/
    --bs-btn-active-color: ; /*Cor da fonte com moue clicando*/

    --bs-btn-border-color: ; /*Cor da borda normal*/
    --bs-btn-hover-border-color: ; /*Cor da borda com mouse em cima*/
    --bs-btn-active-border-color: ; /*Cor da borda com mouse clicando*/
}

.card-img-height-set {
    max-height: 180px;
}