:root{
    --cor-de-fundo: #6F4E37;
    --cor-secundaria: #A67B5B;
    --cor-terciaria: #ECB176;
    --cor-da-fonte: #FED8B1;
    --cor-da-fonte-rgb: rgb(254, 216, 177);
    --cor-border: #aa8663;

    --cor-btn-bg: #D2649A;
    --cor-btn-bg-hover:#a1386b;
    --cor-gtn-border: #00000000;
    --cor-btn-fonte: #ffffff;
}

hr {
    border-color: var(--cor-secundaria);
}

.body-general {
    background-color: var(--cor-de-fundo);
    color: var(--cor-da-fonte);
}

#navbar-principal {
    background-color: var(--cor-de-fundo) !important;
    border-color: var(--cor-da-fonte) !important;
}

.navbar-content {
    color: var(--cor-da-fonte) !important;
}

.navbar-dropdown {
    background-color: var(--cor-de-fundo);
    --bs-dropdown-link-hover-bg:var(--cor-secundaria);
}

.hero-divider {
    background-color: var(--cor-secundaria);
    width: 100%;
    height: 3rem;
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15)
}

.form-custom {
    background-color: var(--cor-terciaria);
    border: 1px, solid, var(--cor-border);
}

.form-field-custom {
    background-color: var(--cor-de-fundo);
    color: var(--cor-da-fonte) !important;
    border: 1px, solid, var(--cor-border);
    --bs-body-color:var(--cor-da-fonte);
    --bs-body-bg:var(--cor-de-fundo);
}

.form-label-custom {
    --bs-body-bg:var(--cor-de-fundo);
    --bs-body-color:var(--cor-da-fonte);
    --bs-body-color-rgb:var(--cor-da-fonte-rgb);
    --bs-highlight-bg:var(--cor-de-fundo);
}

.card-custom {
    background-color: var(--cor-terciaria);
    border: 1px, solid, var(--cor-border);
    color: var(--cor-de-fundo);
}
.card-custom>input {
    counter-reset: var(--cor-de-fundo);
}

.btn-primary {
    background-color: var(--cor-btn-bg);
    border-color: var(--cor-gtn-border);
    color: var(--cor-btn-fonte);
    --bs-btn-hover-color: var(--cor-btn-fonte);
    --bs-btn-hover-bg: var(--cor-btn-bg-hover);
    --bs-btn-hover-border-color: var(--cor-gtn-border);

}

.card-img-height-set {
    max-height: 180px;
}